* {
  padding: 0;
  margin: 0;

}

/* html,
body {
  background-color: hsl(253, 47%, 17%);
} */

:root {
	--color-1: oklch(70% 0.5 340);
	--color-2: oklch(90% 0.5 200);
}

@keyframes bg {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.App {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  min-height: 100vh;
	background: linear-gradient(-45deg, var(--color-1), var(--color-2));
	background-size: 500% 500%;
	animation: bg 3s ease infinite reverse;
}

.title {
  font-size: 60px;
  margin: 20px;
  color: rgb(10, 113, 248);
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 600px;
  min-width: 400px;
  padding: 14px;
  background-color: hsl(253, 47%, 17%);;
  border-radius: 14px;
  border: 5px solid   rgb(10, 113, 248);
}
